*.env
**/.env
!.env.example

**/openwebui-data
**/data
**/letsencrypt
**/obsidian-web-config
**/couchdb-data
**/couchdb-etc
**/vw-data
**/kuma-data
**/homepage-data
**/kopia-cache
**/kopia-config
**/kopia-logs
**/immich-db
**/*-db
**/*-data
**/*-config
**/*-cache
**/*-logs

.DS_Store
Thumbs.db
.vscode/
.idea/

.wakatime-project